app/View/templates_c/*
app/View/cache/*
app/View/logs/*
web/assets/*
vendor

.project
.vscode/

composer.lock

!app/View/templates_c/.gitkeep
!app/View/cache/.gitkeep
!app/View/logs/.gitkeep
!web/assets/.gitkeep
