.font-header {
    margin-bottom: 20px;
}

.font-slim {
    font-size: 1.0rem;
    line-height: 1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
    font-size: 0.75rem;
}

.footer .text-muted {
    color: rgba(108, 117, 125, 0.4) !important;
}

.footer .text-muted a {
    color: rgba(108, 117, 125, 0.4) !important;
}